body {
	background-color: #0021A5;
	color:white;
}
#info {
	padding-left:5%;
	padding-top:10%;
	font-size: 15px;
}
#contact_me {
	text-align: center;
	color:#D60082;
	font-size: 40px;
	font-family: 'Black Ops One', cursive;
 	font-family: 'Kelly Slab', cursive;
	font-family: 'Nosifer', cursive;
}
.page a:hover, a:active{
	color:red !important; 
	text-decoration: none;
	
}