html {
    box-sizing: border-box;
    height:100%;
    overflow-y: scroll;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height:100%;
    margin:0;
}
.page {
    padding:50px 0;
    height:100%;
    margin: 0 auto;
}
header, footer {
    height:50px;
    text-align: center;
    position:fixed;
    width: 100%;
    left: 0;
}

footer {
    bottom:0;
	width: 100%;
 	background-color:rgba(0,0,0,.7);
}
.inner {
    margin:0 auto;
    height: 100%;
    line-height:50px;
}

.navbar-default {
    border:none;
}
.navbar-nav li a {
    color:white !important;
}
.navbar-nav .active a {
    color:black !important; 
    background-color:#FF1C63 !important;
}
/* This keeps the video dropdown green when clicked */
.navbar-nav .open a {
    color:white !important; 
    background-color: green!important;
}
